*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contenedor-Web{ 
    width: 100%; 
	background-color: white;   
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}

#cabecera{ 
	width: 100%; 
	height: 52.5px;
	background-color: #189BDF; 
	padding: 5px;
	border-bottom: solid;
    border-width: 1px;
}
#interior-cabecera{
	height: 33px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
#cabecera input{ 
	width: 147px; 
	font-size: 15px;
	
}

#menu{ 
	width: 21%;
	height: 520px;
	background-color: #F2F2F2;
	padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 5px; 
	margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
	border-radius: 10px;
	overflow: auto;
	overflow-x:hidden;
}
#menu::-webkit-scrollbar {
    -webkit-appearance: none;
}
#menu::-webkit-scrollbar:vertical {
    width:10px;
}
#menu::-webkit-scrollbar-button:increment,#menu::-webkit-scrollbar-button {
    display: contents;
} 
#menu::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#menu::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.menu-iconos{
	margin-bottom: 10px;
	display: flex;
    align-items: center;
}
.menu-iconos a{
	color: black;
	font-size: 23px;
	text-decoration: none;
}
.menu-iconos img{
	width: 35px;
	height: 33px;
	margin: 4px;
}

#cuerpo_principal{ 
	width: 49%; 
	height: 520px;
	background-color: #F2F2F2; 
	margin-left: 9px;
    margin-right: 9px;
    margin-top: 5px; 
	margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
	border-radius: 10px;
	overflow: auto;
	overflow-x:hidden;
}
#cuerpo_principal::-webkit-scrollbar {
    -webkit-appearance: none;
}
#cuerpo_principal::-webkit-scrollbar:vertical {
    width:10px;
}
#cuerpo_principal::-webkit-scrollbar-button:increment,#cuerpo_principal::-webkit-scrollbar-button {
    display: contents;
} 
#cuerpo_principal::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#cuerpo_principal::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.interior_principal{
    margin-top: 12px;
    margin-bottom: 12px;
}
.interior_principal img{
    margin-top: 8px;
    height: 150px;
    width: 100%;
    max-width: 350px;
}
.interior_principal div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior_principal h5{
	color: #4A4A4A;
	margin-bottom: 10px; 
}
.interior_principal p{
	margin-bottom: 10px; 
}

#lateral_dcha{ 
	width: 27%; 
	height: 520px;
	background-color: #F2F2F2;
	margin-top: 5px; 
	margin-bottom: 5px;
	padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
	border-radius: 10px;
}
#followers{
	height: 45%;
	overflow: auto;
	overflow-x:hidden;
}
#followers img{
	width: 50px;
	height: 50px;
}
#followers::-webkit-scrollbar {
    -webkit-appearance: none;
}
#followers::-webkit-scrollbar:vertical {
    width:10px;
}
#followers::-webkit-scrollbar-button:increment,#followers::-webkit-scrollbar-button {
    display: contents;
} 
#followers::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#followers::-webkit-scrollbar-track {
    border-radius: 10px;  
}
#interior_followers{
	border-style: solid;
    border-width: 0.5px;
	margin: 10px;
	height: 70px;
	overflow: hidden;
    padding: 10px;
    background-color: white;
}
#interior_followers div{
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
#contenido_followers img{
    width: 100%;
    max-width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 1px;
}


#news{
	height: 55%;
	overflow: auto;
	overflow-x:hidden;
}
#news::-webkit-scrollbar {
    -webkit-appearance: none;
}
#news::-webkit-scrollbar:vertical {
    width:10px;
}
#news::-webkit-scrollbar-button:increment,#news::-webkit-scrollbar-button {
    display: contents;
} 
#news::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#news::-webkit-scrollbar-track {
    border-radius: 10px;  
}
#interior_news{
	border-style: solid;
    border-width: 0.5px;
	margin: 10px;
	height: 90px;
	overflow: hidden;
    padding: 10px;
    background-color: white;
}
#interior_news div{
	height: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
#contenido_news img{
    width: 100%;
    max-width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 1px;
}

#pie{ clear:both; 
	width: 100%; 
	height: 52px;
	background-color: #189BDF; 
	padding: 10px;
	border-top: solid;
    border-width: 1px;
}
#copyright{
	margin: 5px;
	display: flex;
	justify-content: center;
    align-items: center;
    text-decoration: underline;
}

hr{
	border: 0 none #000000;
    border-top: 1px solid #000000;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
}

img[src=""]{
	display: none;
}

@media (max-width: 615px){
	#contenedor-Web{
	display: flex;
	flex-direction: column;
	}
	#menu{ 
	width: 100%;
	height: 70px;
	margin: 0px;
    }
    #cuerpo_principal{
    width: 100%;
	height: 250px;
	margin: 0px;
    }
    #lateral_dcha{
    width: 100%;
    height: 210px;
	margin: 0px;
	overflow-y: auto;
    }
}