*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contenedor{
    background: white;
    min-height: 100vh;
}

#arriba{
	height: 9vh;
	width: 100%;
	background: rgb(9,10,11);
}

#parte_arriba{ 
	width: 100%;
	height: 9vh;
	background: rgb(9,10,11);
	padding: 5vh; 
	
	left: 0;
	top: 0;
	position: fixed;

	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}

	.nombre{
		display: flex;
		flex-direction: row;
	}

		.nombre a{
			font-size: 4.5vh;
			color: #e9ecef;
			text-decoration: none;
		}

		.nombre p{
			font-size: 4.5vh;
			color: #e9ecef;
		}

		.menu a{
			color: #e9ecef;
			margin: 2.5vh;
			text-decoration: none;
			font-size: 3.2vh;
		}

#presentacion{
	width: 100%;
	height: 91vh;
	background: rgb(9,10,11);
	padding: 25vh;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

	#presentacion h1{
		color: #e9ecef;
		font-size: 7vh;
		margin-bottom: 1vh;
	}

	#presentacion h2{
		color: #e9ecef;
		font-size: 4vh;
	}

#proyecto{
	width: 100%;
	height: 100%;
	background: #D2D2D2;
	padding-top: 9vh;
	padding-bottom: 7vh;

	display: flex;
	align-items: center;
	flex-direction: column;
}

	.titulo h1{
		font-size: 11vh;
		margin-bottom: 5vh; 
		color: rgb(9,10,11);
	}

	.trabajos{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

		.trabajo{
			height: 85vh;
			width: 62vh;
			margin: 3vh;
			padding: 3vh;
			background: rgb(9,10,11);
			border-radius: 5vh;	

			display: flex;
			align-items: center;
			flex-direction: column;	
			justify-content: space-evenly;
		}

			.trabajo h1{
				color: #e9ecef;
				font-size: 5vh;
			}

			.trabajo img{
				width: 55vh;
				height: 30vh;
			}

			.trabajo p{
				color: #e9ecef;
				font-size: 2.9vh;
			}

		.botones{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			bottom: 0;
		}

			.botones img{
				width: auto; 
				height: 6vh;
			}

#contacto{
	width: 100%;
	height: 40vh;
	background: rgb(9,10,11);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
}

	#contacto h1{
		
		color: #e9ecef;
		font-size: 7.5vh;
	}

.metodos{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

	.metodos a{
		color: #e9ecef;
		font-size: 8vh;;
		text-decoration: none;
	}

	.metodos img{
		width: auto; 
		height: 12vh;
	}

	.metodos p{
		color: #e9ecef;
		font-size: 4vh;
		text-decoration: none;
	}

	.Git{
		width: 50vh;
		display: flex;
		justify-content: center;
	}

a:hover {color:#AF63F5}


@media (max-width: 780px){
	
	#presentacion{
		padding: 7vh;
	}

	#contacto h1{
		font-size: 6vh;
	}

	.metodos a{
		font-size: 6vh;;
	}

	.metodos p{
		font-size: 3vh;
		margin-left: 3vh;
	}

	.metodos img{
		width: auto; 
		height: 10vh;
	}
}

@media (max-width: 545px){

	#parte_arriba{ 
		padding: 1vh;
	}

		.nombre a{
			font-size: 4vh;
			color: #e9ecef;
			text-decoration: none;
		}

		.nombre p{
			font-size: 4vh;
			color: #e9ecef;
		}

		.menu a{
			margin: 1vh;
			font-size: 3vh;
		}

	#presentacion{
		padding: 4vh;
	}

	.titulo h1{
		font-size: 9vh;
	}

	.trabajo{
		width: 50vh;
	}

		.trabajo img{
			width: 47vh;
			height: 25vh;
		}

		.botones img{
			width: auto; 
			height: 7vh;
		}

	#contacto h1{
		font-size: 4.5vh;
	}

	.metodos a{
		font-size: 4.5vh;;
	}

	.metodos p{
		font-size: 2.7vh;
	}

	.metodos img{
		width: auto; 
		height: 7vh;
	}
}

@media (max-width: 414px){

	#parte_arriba{ 
		padding: 1.5vh;
	}

		.nombre a{
			font-size: 3.5vh;
		}

		.nombre p{
			font-size: 3.5vh;
		}

		.menu a{
			margin: 0.5vh;
			font-size: 2.2vh;
		}

	.titulo h1{
		font-size: 7vh;
	}

	.trabajo{
		width: 44vh;
	}

		.trabajo img{
			width: 43vh;
			height: 20vh;
		}

		.botones img{
			width: auto; 
			height: 7vh;
		}

	#contacto h1{
		font-size: 3.5vh;
	}

	.metodos p{
		margin-left: 1vh;
		font-size: 2.5vh;
	}

	.metodos img{
		width: auto; 
		height: 7vh;
	}

}

@media (max-width: 375px){

.trabajo{
		width: 35vh;
	}

		.trabajo img{
			width: 33vh;
			height: 23vh;
		}

		.botones img{
			width: auto; 
			height: 7vh;
		}

#contacto h1{
		font-size: 3vh;
	}

	.metodos a{
		font-size: 3vh;
	}

	.metodos p{
		margin-left: 1vh;
		font-size: 2vh;
	}

}

@media (max-width: 281px){

	#parte_arriba{ 
		padding: 1.5vh;
	}

		.nombre a{
			font-size: 3vh;
		}

		.nombre p{
			font-size: 3vh;
		}

		.menu a{
			margin: 0.5vh;
			font-size: 2vh;
		}

	.trabajo{
		width: 37vh;
	}

		.trabajo img{
			width: 35vh;
			height: 25vh;
		}

		.botones img{
			width: auto; 
			height: 7vh;
		}

}

@media (min-height: 1000px){

	#presentacion{
		padding: 3vh;
	}

	#contacto h1{
		font-size: 5vh;
	}

	.metodos a{
		font-size: 5vh;
	}

	.metodos p{
		margin-left: 4vh;
		font-size: 3vh;
	}

}