*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	padding-top: 15vh;
}

#contenedor{ 
    width: 100%; 
	background-color: #272727;   
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}

#parte_arriba{ 
	width: 100%;
	height: 15vh;
	background-color: #212529;
	
	left: 0;
	top: 0;
	position: fixed;
	
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}

		#parte_izquierda{ 
			width: 27%;
			height: 15vh;
			
			display: flex;
			justify-content: center;
		    align-items: center;
		}

				#parte_izquierda img{
					width: auto;
					height: 12.7vh;
				}

		#parte_derecha{ 
			width: 73%; 
			height: 15vh;
			
			display: flex;
			justify-content: space-evenly;
		}

		    .buscador{
              display: flex;
              align-items: center;
		    }

				#busquedaPKMN{
					width: 60vh;
				    height: 5vh;
				    padding: 1.57vh;
				    border-radius: 0.79vh;
				}

				#boton{
					width: 12vh;
				    height: 5vh;
				    border-radius: 0.79vh;
				    text-align:center;
	                z-index:all;
				}

			#menu{
				font-size: 3.4vh;
				color: white;

				display: flex;
				align-items: flex-end;
			}

				a{
					margin-left: 2vh;
					margin-right: 2vh; 
				}

#parte_abajo{ 
	width: 100%; 
	height: 100%;
	min-height: 78vh;
	
	background-image: url("./img/pokeballs.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

		.carta{
			width: 67vh;
            height: 40vh;
            background-color: #CED4DA;
            margin: 0.79vh;
            border-style: solid;

            display: flex;
            flex-wrap: wrap;
	        justify-content: center;
            align-items: center;
		}

			.img-carta{
                width: 45%;
			    height: 40vh;

			    display: flex;
			    justify-content: center;
		        align-items: center;
			}

				.img-carta img{
					width:  25.98vh;
					height: 36.22vh;
					border-radius: 1.26vh;
					border: 0.001px solid black;
				}

			.datos-carta{
				padding: 0.79vh;
                width: 55%; 
			    height: 40vh;

			    display: flex;
			    justify-content: center;
			    flex-direction: column;
			    flex-direction: center;
		    }

footer{
	width: 100%;
	height: 7vh;
	background-color: #212529;
	color: #e9ecef;

	display: flex;
	align-items: center;
	justify-content: center;
}

a{
	color: #e9ecef;
	text-decoration:none;
}

h1{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 1.9vh;
	font-family: "Roboto";
	color: #131516;
	font-size: 3.7vh;
}

h3{
	margin-bottom: 1.2vh;
	color: #131516;
	font-size: 2.5vh;
}

















@media (max-width: 1052px){

   #parte_derecha{ 
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	#busquedaPKMN{
					width: 45vh;
				    height: 4vh;
				}

				#boton{
					width: 10vh;
				    height: 4vh;
				}

}

@media (max-width: 545px){

	#parte_abajo{
		display: flex;
        flex-direction: column;
	}

		.carta{
			width: 95%;
            height: 40vh;
		}

		#parte_izquierda img{
			width: auto;
			height: 10vh;
		}

				#busquedaPKMN{
					width: 30vh;
				    height: 3vh;
				}

				#boton{
					width: 8vh;
				    height: 4vh;
				}

			#menu{
				font-size: 3vh;
			}

	.img-carta{
                width: 45%;
			    height: 40vh;
			}

				.img-carta img{
					width:  23vh;
					height: 34vh;
				}

			.datos-carta{
                width: 55%; 
			    height: 40vh;
		    }

	h1{
 		font-size: 3.7vh;
 		margin-bottom: 2.7vh;
	}

	h3{
  		font-size: 2.5vh;
	}

	p{
	    font-size: 2.7vh;
    }

}




@media (max-width: 420px){

	#busquedaPKMN{
		            font-size: 1.7vh;
					width: 22vh;
				    height: 4vh;
				}

				#boton{
					font-size: 2vh;
					width: 8vh;
				    height: 4vh;
				}

			#menu{
				font-size: 2.5vh;
			}

			a{
				margin-left: 1vh;
				margin-right: 1vh; 
			 }

	#parte_izquierda img{
			width: auto;
			height: 9vh;
		}

	.img-carta{
                width: 50%;
			    height: 40vh;
			}

				.img-carta img{
					width:  20vh;
					height: 31vh;
				}

			.datos-carta{
                width: 50%; 
			    height: 40vh;
		    }

	h1{
  		font-size: 2.7vh;
  		margin-bottom: 2.5vh;
	}

	h3{
  		font-size: 2vh;
	}

	p{
	    font-size: 2.5vh;
    }

}




@media (max-width: 300px){

	#busquedaPKMN{
					width: 19vh;
				    height: 2vh;
				}

				#boton{
					width: 8vh;
				    height: 4vh;
				}

			#menu{
				font-size: 2.5vh;
			}

			a{
					margin-left: 1vh;
					margin-right: 1vh; 
				}

	#parte_izquierda img{
			width: auto;
			height: 7vh;
		}

	.img-carta{
                width: 55%;
			    height: 40vh;
			}

				.img-carta img{
					width:  20vh;
					height: 31vh;
				}

			.datos-carta{
                width: 45%; 
			    height: 40vh;
		    }

	h1{
  		font-size: 2.3vh;
 		margin-bottom: 2vh;
	}

	h3{
  		font-size: 1.86vh;
	}

	p{
	    font-size: 1.9vh;
    }

}




@media (min-height: 1000px){

   #parte_derecha{ 
			display: flex;
			flex-direction: column;
			align-items: center;
		}

   #parte_izquierda img{
			height: 11vh;
		}

    #busquedaPKMN{
    	            font-size: 1.7vh; 
					width: 30vh;
				    height: 4vh;
				}

				#boton{
					font-size: 1.7vh;
					width: 10vh;
				    height: 4vh;
				}

			#menu{
				font-size: 2.7vh;
			}

			a{
					margin-left: 2vh;
					margin-right: 2vh; 
				}

	h1{
  		font-size: 3.7vh;
 	    margin-bottom: 2.7vh;
	}

	h3{
  		font-size: 2.3vh;
	}

	p{
	    font-size: 3.2vh;
    }

}




